<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render 'layouts/header' %> 

  	<div class="row">
     <div class="col-sm-12 text-xs-center bootstrap-welcome">
      <h1>Bootstrap 4 Works!</h1>
       <p class="lead">Go ahead and build your awesome app now.</p>
     </div>
    </div>

  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


    <%= yield %>
  </body>
</html>
